<div class="content">
  <div id="comment-wrapper" class="box">
    <div id="comments">
      <ol id="singlecomments" class="commentlist">
        <%= render partial: 'post_comments/comment', locals: {comment: @post_comment, indent: 0, reply: nil} %>
      </ol>
    </div>
    <%= render partial: 'post_comments/new_comment', locals: {comment: @new_post_comment, post_id: @post_comment.post_id, comment_id: @post_comment.id} %>
  </div>
</div>
<%= render partial: 'posts/sidebar' %>
