<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3><%= @name %> has sent you a message on mydemoapp-env.</h3>
<p><%= @message %></p>
<a href="mailto:<%= @from %>?subject=Re: <%= @subject %>">Reply</a>
</body>
</html>