<div class="sidebar box">
  <div class="sidebox widget">
    <%= render partial: 'home/popular_post' %>
  </div>
  <div class="sidebox widget">
    <h3 class="widget-title">Search</h3>
    <form class="searchform" method="get" action="#">
      <input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
    </form>
  </div>
  <div class="sidebox widget">
    <h3 class="widget-title">Custom Text</h3>
    <div>Suspendisse eu odio quis elit ultrice commodo tempor eget arcu. Sedur aliquet posuere lectus aliquam iaculi. Curabitur a risus metus. In ut lorem nisl, et adipiscing sapien. Donec sed risus tristiq scelerisque. </div>
  </div>
  <div class="sidebox widget">
    <h3 class="widget-title">Categories</h3>
    <ul>
      <li><a href="#">Detektivbyrån</a></li>
      <li><a href="#">Flowers</a></li>
      <li><a href="#">Funny</a></li>
      <li><a href="#">Journal</a></li>
      <li><a href="#">Landscape</a></li>
      <li><a href="#">Nature</a></li>
      <li><a href="#">Photography</a></li>
      <li><a href="#">Video</a> </li>
    </ul>
  </div>
</div>