<div class="sidebar box">
  <div class="sidebox widget">
    <%= render partial: 'home/popular_post' %>
  </div>
  <div class="sidebox widget">
    <h3 class="widget-title">Search</h3>
    <%= search_form_for @q do |f| %>
        <%= f.search_field :title_or_body_cont, class: 'searchform', value: 'Type and hit enter', onFocus: "this.value=''", onBlur: "this.value='Type and hit enter'" %>
    <% end %>
  </div>

</div>