  <div class="content box">
    <h1 class="title"><%= @post.title %></h1>
    <% lines = @post.body.split("|") %>
    <% pics = Pic.where("post_id = ?", @post.id) %>
    <% lines.each_with_index do |line, idx| %>
        <p><%= line %></p>
        <% if idx < pics.size %>
            <div class="outer none"><span class="inset"><%= link_to (image_tag (pics[idx].image.url(:medium)), alt: ""), pics[idx].image.url(:large) %></span></div>
        <% end %>
    <% end %>

  </div>
  <div class="sidebar box">
    <div class="sidebox widget">
      <h3 class="widget-title">Popular Posts</h3>
      <ul class="post-list">
        <li>
          <div class="frame"> <a href="#"><img src="style/images/art/s1.jpg" alt=""></a> </div>
          <div class="meta">
            <h6><a href="#">Charming Winter</a></h6>
            <em>28th Sep 2045</em> </div>
        </li>
        <li>
          <div class="frame"> <a href="#"><img src="style/images/art/s2.jpg" alt=""></a> </div>
          <div class="meta">
            <h6><a href="#">Trickling Stream</a></h6>
            <em>5th Sep 2045</em> </div>
        </li>
        <li>
          <div class="frame"> <a href="#"><img src="style/images/art/s3.jpg" alt=""></a> </div>
          <div class="meta">
            <h6><a href="#">Morning Glory</a></h6>
            <em>26th Sep 2045</em> </div>
        </li>
      </ul>
    </div>
    <div class="sidebox widget">
      <h3 class="widget-title">Search</h3>
      <form class="searchform" method="get" action="#">
        <input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
      </form>
    </div>
    <div class="sidebox widget">
      <h3 class="widget-title">Custom Text</h3>
      <div>Suspendisse eu odio quis elit ultrice commodo tempor eget arcu. Sedur aliquet posuere lectus aliquam iaculi. Curabitur a risus metus. In ut lorem nisl, et adipiscing sapien. Donec sed risus tristiq scelerisque. </div>
    </div>
    <div class="sidebox widget">
      <h3 class="widget-title">Categories</h3>
      <ul>
        <li><a href="#">Detektivbyrån</a></li>
        <li><a href="#">Flowers</a></li>
        <li><a href="#">Funny</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">Landscape</a></li>
        <li><a href="#">Nature</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Video</a> </li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
